<form>
  <div class="form-group">
    <label for="">Search for legislators by zip</label>
    {{input value=zip id="zip"}}
  </div>
  <button {{action 'makeQuery'}}>Submit</button>
</form>

{{experiment-component}}
